@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  darktheme: dark;
  base: true;
  styled: true;
  utils: true;
}

@layer components {
  .app-modal-overlay {
    @apply bg-base-300/40 fixed inset-0 backdrop-blur-sm;
  }

  .modal-backdrop {
    @apply bg-base-300/40 fixed inset-0 backdrop-blur-sm;
  }
}
